/************************************************/
/* General */
/************************************************/
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    color: #333;
}

hr {
    margin: 3em 0;
    background-color: #ccc;
    height: 1px;
    border: none;
}

p {
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
}



/************************************************/
/* Header */
/************************************************/
header {
    padding: 0 2em;
    position: fixed;
    top: 0;
    background: #fff;
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 6em;
    transition: all .3s ease-in-out;
}

    header.shrink {
        height: 4em;
        background-color: rgba(255, 255, 255, .8);
    }

        header.shrink nav ul li {
            line-height: 4em;
        }

nav ul {
    float: right;
    margin: 0;
}

    nav ul li {
        display: inline;
        margin-left: 1em;
        list-style: none;
        line-height: 6em;
        transition: all .3s ease-in-out;
    }

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



/************************************************/
/* Container */
/************************************************/
.container {
    margin: 10em auto 0;
    width: 75%;
    text-align: center;
}

    .container main p {
        height: 50em;
    }



/************************************************/
/* Animations */
/************************************************/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.js-fade-in {
    animation: fadeIn .3s ease-in;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.js-fade-out {
    animation: fadeOut .3s ease-in;
}

.paused {
    animation-play-state: paused;
}

.running {
    animation-play-state: running;
}
